.fee-section {
    padding: 40px 0;
    background-color: #f7f7f7;
    position: fixed;
}
.pages-section{
    padding: 40px 0;
    background-color: #f7f7f7;
}
.pages-section{
    padding: 40px 0;
    background-color: #f7f7f7;
}

.page-para{
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 270;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.charges {
    text-align: center;
    margin-bottom: 40px;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
} */

.col-md-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    color: #604f98;
    margin-top: 0;
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
    .col-md-4 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
.Footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8976C7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  
  .Footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block; /* change this line */
    text-align: center; /* add this line */
  }
  
  .Footer ul li {
    margin: 10px 0; /* change this line */
    display: block; /* add this line */
  }
  
  .Footer ul li a {
    color: white;
  }
  
  .Footer ul li a:hover {
    text-decoration: underline;
  }
  
  .Footer ul li a:focus {
    outline: none;
  }
  
  .Footer ul li svg {
    color: white;
    font-size: 1rem; /* change this line */
    margin-right: 5px; /* add this line to create space between icon and text */
  }