.container-wallet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;

    margin-top: 2%;
}

.content {
    grid-column: span 5; /* Spanning 5 columns */
    text-align: center;
}

h2, h3, img {
    width: 100%; /* To fit the image in the div */
}

button {
    margin-top: 1rem /* Add margin to the buttons */
}

