.image {
  position: absolute;
  width: 1060px;
  height: 710px;
  left: -30px;
  top: 180px;
  }
  
  .form {
    position: absolute;
    width: 500px;
    height: 649px;
    left: 9px;
    top: -80px;
  }

  
  .text {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1131px;
    top: 190px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 156% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    color: #000000;
  }
  .email {
    position: absolute;
    width: 76px;
    height: 50px;
    left: 964px;
    top: 309px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 208% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    color: #000000;
  }
  .emailInput {
    position: absolute;
    width: 420px;
    height: 50px;
    left: 60px;
    top: 55px;
    font-size: 25px;
    border-radius: 10px;
  
    background: #e6e3e3;
  
  }
  .password {
    position: absolute;
    width: 130px;
    height: 45px;
    left: 964px;
    top: 455px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 208% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  
    color: #000000;
  }
  
  .passwordInput {
    position: absolute;
    width: 420px;
    height: 50px;
    left: 60px;
    top: 55px;
    font-size: 25px;
    border-radius: 10px;
  
    background: #e6e3e3;
  
  }


  .login-btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1150px;
    top: 600px;
    border-radius: 50px;
    font-size: 20px;
  
    background: rgb(106, 163, 244);
  }
  .reset-btn {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1150px;
    top: 690px;
    border-radius: 50px;
    font-size: 20px;
  
    background: rgb(106, 163, 244);
  }
  
  .no-account-btn {
    position: absolute;
    width: 428px;
    height: 50px;
    left: 1070px;
    top: 770px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height, or 208% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
  }
  
  .create-account {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 250px;
  }