.container-auth {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  position: relative;
}

.image-container {
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-container {
  text-align: center;
  display: flex;
  align-items: center;
  color: black;
  grid-column: span 5;
  width: 450px;
  background: #dde1e7;
  border-radius: 10px;
}

.auth-form-container,
.login-form,
.register-form,
.profile-form,
.reset-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 20rem;
  border-radius: 10px;
}

button {
  background-color: #8976c7;
  padding: 4px;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-1 {
  margin: 0.5rem 0;
  padding: 4px;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.link-btn {
  border: none;
  background: none;
  color: #8976c7;
  text-decoration: underline;
}
